.active-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f2f1f1;
    border: 1px solid #d3d3d3;
    border-top: none;
    margin-top: -1px;
  }